{% extends 'master.html'%}

{% block page_title %}
List View
{% endblock %}

{% block page_styles %}

{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
    </div>
    <div class="row" id="ajax_list">

    </div>
</div>
{% block page_js %}
{% endblock %}


{% endblock %}