
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Сенсор ИД</th>
      <th scope="col">Статус</th>
      <th scope="col">Изменение положения</th>
      <th scope="col">Температура</th>
      <th scope="col">Шум</th>
      <th scope="col">Заряд батареи</th>
      <th scope="col">Дата и время</th>
    </tr>
  </thead>
  <tbody>
    {% for i in instance %}
    <tr>
      <th scope="row">{{i.pk}}</th>
      <td>{{i.sensor}}</td>
      <td>{{i.status}}</td>
      <td>{{i.axilo|default:"--"}}</td>
      <td>{{i.temp|default:"--"}}</td>
      <td>{{i.sound|default:"--"}}</td>
      <td>{{i.bat|default:"--"}}</td>
      <td>{{i.created|date:"d-m-Y H:i"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>