{% extends 'master.html'%}

{% load static %}

{% block page_title %}
Fire Finde
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'sensors/style.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?apikey=<981bea05-9ed1-403b-a1bd-4471e1a7b606>&lang=ru_RU" type="text/javascript">
    </script>
{% endblock %}

{% block page_content %}
<div class="container-fluid fheight">
    <div class="row">
        <div class="col-md-9">
            <div id="map" style="width:100%; height: 100%;"></div>
        </div>
        <div class="col-md-3">
            <h2>Legend</h2>
            {% for stat in statuses %}
                <div class="sts">{{stat.title}}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="footer" id="ajax_list">
    <h2>History</h2>
    <div class="row" id="history_list"></div>
</div>
{% block page_js %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>

{% endblock %}
<script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        let myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7

        });
        let circles = {};
        jQuery.get("/api/coords", function(data) {
            for (let coord in data['result']) {
            myCircle = new ymaps.Circle([data['result'][coord], 10000], {}, {fillColor: '#007f00', fillOpacity: 0.5});
            myMap.geoObjects.add(myCircle);
            circles[coord] = myCircle
        }
        });;
        setInterval(function() {
        jQuery.get("/api/alerts/", function(data){
            for (let sens in data['result']) {
                if (data['result'][sens]['status'] === 'Пожар') {
                    circles[sens].options.set({fillColor: 'FF0000'});
                    circles[sens].properties.set({hintContent: 'Пожар'})
                } else if (data['result'][sens]['status'] === 'Выстрел') {
                    circles[sens].options.set({fillColor: '0000FF'});
                    circles[sens].properties.set({hintContent: 'Выстрел'})
                } else if (data['result'][sens]['status'] === 'Изменение положения') {
                    circles[sens].options.set({fillColor: '000000'});
                    circles[sens].properties.set({hintContent: 'Изменение положения'})
                } else {
                    circles[sens].options.set({fillColor: '007f00'});
                    circles[sens].properties.set({hintContent: 'Все ок'})
                }
            }
        })
    }, 1000);

    }
</script>
<script>
    setInterval(function() {
        jQuery.get("/history/?r=" + Math.random(), function(data){
            jQuery("#history_list").html(data);
        })
    }, 1000);
</script>

{% endblock %}