body {
    background: #212529;
    color: white;
}

.col-left {
    width: 80%;
    float: left;
    height: 100%;
}
.col-right {
    border-left: 1px solid black;
    float: left;
    height: 100%;
}
.footer {
    bottom: 0;
    background: #212529;
    position: absolute;
    width: 100%;
}

.footer h2 {
    padding-left: 20px;
    color: white;
}

.fheight {
    height: 80%;
}

#history_list {
    display: grid;
    width: 95%;
    margin: 0 auto;
}

.sts {
    padding-left: 15px;
}
